<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/logo/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/images/logo/favicon-96x96.png">
<link rel="icon" type="image/svg+xml" href="assets/images/logo/favicon.svg">
<link rel="shortcut icon" href="assets/images/logo/favicon.ico">
<link rel="manifest" href="assets/images/logo/site.webmanifest">
<link rel="icon" type="image/png" sizes="192x192" href="assets/images/logo/web-app-manifest-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="assets/images/logo/web-app-manifest-512x512.png">

<!-- end custom head snippets -->

{% if page.use_math or page.mathjax %}
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
window.MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [['$$', '$$'], ['\\[', '\\]']],
    processEscapes: true,
    packages: {'[+]': ['ams']}
  },
  options: {
    renderActions: {
      find: [10, function (doc) {
        for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
          const display = !!node.type.match(/; *mode=display/);
          const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
          const text = document.createTextNode('');
          node.parentNode.replaceChild(text, node);
          math.start = {node: text, delim: '', n: 0};
          math.end = {node: text, delim: '', n: 0};
          doc.math.push(math);
        }
      }, '']
    }
  }
};
</script>
{% endif %}
